{% extends "includes/base_template.html" %}
{% block title %} SenseiStore {% endblock %}

{% block head %}
<style>
    body {
      background-color: #1e1e1e;
      color: white;
    }
 
    .person-box {
      background-color: #2c2f33;
      border-radius: 8px;
      padding: 10px;
      margin-bottom: 10px;
    }
 
    img.profile-img {
      height: 100px;
      width: 100px;
      object-fit: cover;
      border-radius: 5px;
    }
    .meta-info {
      font-size: 0.9rem;
    }
  </style>
{% endblock %}

{% block body %}

<div class="container py-4">
    <div class="row">
    <div class="col-7">
        <h5 class="mb-3">Live Streaming</h5>
        <img id="liveStream" src="" style="width:100%; max-width:640px; border-radius:10px;" />
    </div>
    <div class="col-5">
        <h5 class="mb-3" id="detectFaceText">Detected Faces</h5>

        <!-- Scrollable List -->
        <div class="scroll-container">
            <div class="d-flex flex-column overflow-auto  min-h-screen max-h-screen" id="detectedFaceSection">
                <!-- Person Entry -->
                <!-- <div class="person-box d-flex align-items-center">
                    <img src="../static/images/face.jpg" class="profile-img me-3" alt="Profile Image" />
                    <div class="flex-grow-1">
                      <div class="meta-info">
                          Age: Young<br />
                          Gender: Male<br />
                          Expression: Happy<br />
                          Beard: No
                      </div>
                    </div>
                    <div class="timestamp">11:18:26</div>
                </div> -->                
            </div> <!-- End Of D-flex -->
        </div> <!-- End Of Scroll Container-->
    </div>
    </div>  <!-- End Of Row -->
    <div class="row mt-2">
      <h5 class="mb-3 mt-3">Detected Products</h5>
            <!-- Scrollable List -->
        <div class="scroll-container">
          <div class="d-flex flex-row overflow-auto  min-w-screen max-w-screen" id="softDrinkSection">
        
          </div> <!-- End Of D-flex -->
        </div> <!-- End Of Scroll Container-->
    </div>
    <div class="row mt-2">
        <h3 class="mb-3 mt-3">Products Recommendation</h3>
        <!-- Product Catalogue Grid -->
        <div class="col-md-12">
          <div class="row g-4" id="productsRecommendationContainer">
            <!-- Product Card -->
            <!-- <div class="col-sm-6 col-md-4">
              <div class="card shadow-sm">
                <img src="https://media.nedigital.sg/fairprice/fpol/media/images/product/XL/10102748_XL1_20250211.jpg?w=320&q=60" class="card-img-top" alt="Jacket">
                <div class="card-body">
                  <h6 class="card-title mb-1">Pokka Bottle Drink - Jasmine Green Tea                  </h6>
                  <p class="card-text text-muted">$1.80</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="card shadow-sm">
                <img src="https://media.nedigital.sg/fairprice/fpol/media/images/product/XL/376287_XL1_20221011.jpg?w=320&q=60" class="card-img-top" alt="Jacket">
                <div class="card-body">
                  <h6 class="card-title mb-1">Pokka Bottle Drink - Ice Lemon Tea                  </h6>
                  <p class="card-text text-muted">$1.80</p>
                </div>
              </div>
            </div>
    
            <div class="col-sm-6 col-md-4">
              <div class="card shadow-sm">
                <img src="https://media.nedigital.sg/fairprice/fpol/media/images/product/XL/396558_XL1_20221011.jpg?w=320&q=60" class="card-img-top" alt="Jacket">
                <div class="card-body">
                  <h6 class="card-title mb-1">Pokka Bottle Drink - Peach Tea                  </h6>
                  <p class="card-text text-muted">$1.80</p>
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>
  </div>
  
    <script>
        const socket = io();

        let detectedFaceSection = document.getElementById("detectedFaceSection");
        let detectedFaceTextSection = document.getElementById("detectFaceText");

        socket.on('mqtt_message', (data) => {
            // detectedFaceTextSection.innerText = "Detected Faces (Detecting)";
            // let timeStampLength = document.querySelectorAll('[id^="timestamp-"]').length;
            // let emotionLength = document.querySelectorAll('[id^="emotion-"]').length;
            // let confidenceScoreLength = document.querySelectorAll('[id^="confidence_score-"]').length;
            let faceImgLength = document.querySelectorAll('[id^="face-img"]').length;
            let i = Math.max(faceImgLength);

            // Format timestamp if available
            let formattedDate = "Unknown Date";
            let formattedTime = "Unknown Time";

            if (data.timestamp && data.timestamp.length >= 15) {
                const raw = data.timestamp; // e.g., 20250331_071238
                const year = raw.substring(0, 4);
                const month = raw.substring(4, 6);
                const day = raw.substring(6, 8);
                const hour = raw.substring(9, 11);
                const minute = raw.substring(11, 13);
                const second = raw.substring(13, 15);

                formattedDate = `${year}-${month}-${day}`;
                formattedTime = `${hour}:${minute}:${second}`;
            }

            let detectedFaceInfo = `
                <div class="person-box d-flex align-items-center mb-3">
                    <img id="face-img${i}" src="data:image/jpeg;base64,${data.image_b64 || ''}" class="profile-img me-3" alt="Profile Image" />
                    <div class="flex-grow-1">
                        <div class="meta-info">
                            <p id="emotion-${i}" class="m-0">Expression: ${data.emotion || 'Unknown'}</p>
                            <p id="confidence_score-${i}" class="m-0">confidence_score: ${data.confidence_score || 'N/A'}</p>
                            <p id="datestamp-${i}" class="m-0"> Date: ${formattedDate} </p>
                            <p id="timestamp-${i}  class="m-0"> Time:${formattedTime}</p>
                        </div>
                    </div>
                   
                </div>
            `;
            
            detectedFaceSection.insertAdjacentHTML("afterbegin", detectedFaceInfo);
            
        });

        const liveStream = document.getElementById("liveStream");

        socket.on('stream_frame', (data) => {
            // console.log("testing:",data);
            if (data.image_b64) {
                liveStream.src = 'data:image/jpeg;base64,' + data.image_b64;
            }
        });

        const emotionProductsRecommendations = document.getElementById("productsRecommendationContainer");

        socket.on('emotion_recommendation', (data) => {
           const recommendations = data.recommendations
           emotionProductsRecommendations.innerHTML = '';
           recommendations.forEach(item => {
            const productCard = `
              <div class="col-sm-6 col-md-4">
                <div class="card shadow-sm h-100">
                  <img src="${item.Product_Image_Url}" class="card-img-top" alt="${item.Product}">
                  <div class="card-body">
                    <h6 class="card-title mb-1">${item.Product}</h6>
                    <p class="card-text text-muted">$${item.Unit_Price.toFixed(2)}</p>
                  </div>
                </div>
              </div>
            `;
            emotionProductsRecommendations.insertAdjacentHTML('beforeend', productCard);

            window.scrollTo({
              top: emotionProductsRecommendations.offsetTop - 50,
              behavior: 'smooth'
            });
          });
        });

        let softDrinkSection = document.getElementById("softDrinkSection");
        socket.on('softdrink', (data) => {
            let softDrinkImgLength = document.querySelectorAll('[id^="softdrink-img"]').length;
            let i = Math.max(softDrinkImgLength);

            let detectedSoftDrinkInfo = `
                <div class="person-box align-items-center mb-3 d-flex flex-row me-3">
                    <img id="softdrink-img${i}" src="data:image/jpeg;base64,${data.image_b64 || ''}" class="profile-img me-3" alt="Profile Image" />
                    <div class="flex-grow-1">
                        <div class="meta-info">
                            <p id="product_name-${i}" class="mb-1">${data.product_name || 'Unknown'}</p>
                            <p id="product_id-${i}" class="mb-1">${data.product_id || 'Unknown'}</p>
                            <p id="confidence_score-${i}" class="mb-1">confidence_score: ${data.confidence_score || 'N/A'}</p>
                            <p class="timestamp m-0" id="timestamp-${i}">${data.timestamp || 'Now'}</p>
                        </div>
                    </div>
                
                </div>
            `;  
            softDrinkSection.insertAdjacentHTML("afterbegin", detectedSoftDrinkInfo);
        });
       
        socket.on('product_recommendation', (data) => {
          const recommendations = data.recommendations
          console.log(recommendations);
          emotionProductsRecommendations.innerHTML = '';
          recommendations.forEach(item => {
            const productCard = `
              <div class="col-sm-6 col-md-4">
                <div class="card shadow-sm h-100">
                  <img src="${item.Product_Image_Url}" class="card-img-top" alt="${item.Product}">
                  <div class="card-body">
                    <h6 class="card-title mb-1">${item.Product}</h6>
                    <p class="card-text text-muted">$${item.Unit_Price.toFixed(2)}</p>
                  </div>
                </div>
              </div>
            `;
            emotionProductsRecommendations.insertAdjacentHTML('beforeend', productCard);

            // window.scrollTo({
            //   top: emotionProductsRecommendations.offsetTop - 50,
            //   behavior: 'smooth'
            // });
          });
        });
    </script>

{% endblock %}