{% extends "includes/base_template.html" %}
{% block title %} SenseiStore {% endblock %}

{% block head %}
<style>
    body {
      background-color: #1e1e1e;
      color: white;
    }
 
    .person-box {
      background-color: #2c2f33;
      border-radius: 8px;
      padding: 10px;
      margin-bottom: 10px;
    }
    .timestamp {
      text-align: right;
      color: #ccc;
      font-size: 0.9rem;
    }
    img.profile-img {
      height: 100px;
      width: 100px;
      object-fit: cover;
      border-radius: 5px;
    }
    .meta-info {
      font-size: 0.9rem;
    }
  </style>
{% endblock %}

{% block body %}

<div class="container py-4">
    <div class="row">
    <div class="col-7">
        <h5 class="mb-3">Live Streaming</h5>
        <img id="liveStream" src="" style="width:100%; max-width:640px; border-radius:10px;" />
    </div>
    <div class="col-5">
        <h5 class="mb-3" id="detectFaceText">Detected Faces</h5>

        <!-- Scrollable List -->
        <div class="scroll-container">
            <div class="d-flex flex-column overflow-auto  min-h-screen max-h-screen" id="detectedFaceSection">
                <!-- Person Entry -->
                <div class="person-box d-flex align-items-center">
                    <img src="../static/images/face.jpg" class="profile-img me-3" alt="Profile Image" />
                    <div class="flex-grow-1">
                    <div class="meta-info">
                        Age: Young<br />
                        Gender: Male<br />
                        Expression: Happy<br />
                        Beard: No
                    </div>
                    </div>
                    <div class="timestamp">11:18:26</div>
                </div>

                <!-- Repeat for demo -->
                <div class="person-box d-flex align-items-center">
                    <img src="../static/images/face.jpg" class="profile-img me-3" alt="Profile Image" />
                    <div class="flex-grow-1">
                        <div class="meta-info">
                            <p class="m-0">Age: Young</p>
                            <p class="m-0">Gender: Male</p>
                            <p class="m-0">Expression: Laughing</p>
                            <p class="m-0">Beard: No</p>
                            <p class="m-0">Age: Young</p>
                        </div>
                    </div>
                    <div class="timestamp">11:18:23</div>
                </div>

                
            </div> <!-- End Of D-flex -->
        </div> <!-- End Of Scroll Container-->
    </div>
    </div>  <!-- End Of Row -->

    <div class="row mt-2">
        <!-- Left Sidebar -->
        <!-- <div class="col-md-3 mb-4">
          <div class="list-group">
            <button class="list-group-item list-group-item-action active">
              Winter Wear
            </button>
            <button class="list-group-item list-group-item-action">Blazer</button>
            <button class="list-group-item list-group-item-action">Pants</button>
            <button class="list-group-item list-group-item-action">Dress</button>
            <button class="list-group-item list-group-item-action">Inner Wear</button>
            <button class="list-group-item list-group-item-action">Sweater</button>
            <button class="list-group-item list-group-item-action">Pricing List</button>
          </div>
        </div> -->
        <h3 class="mb-3 mt-3">Products Recommendation</h3>
        <!-- Product Catalogue Grid -->
        <div class="col-md-12">
          <div class="row g-4" id="productsRecommendationContainer">
            <!-- Product Card -->
            <div class="col-sm-6 col-md-4">
              <div class="card shadow-sm">
                <img src="../static/images/green_tea_pokka.jpg" class="card-img-top" alt="Jacket">
                <div class="card-body">
                  <h6 class="card-title mb-1">Jacket</h6>
                  <p class="card-text text-muted">From $ 8.00</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="card shadow-sm">
                <img src="../static/images/green_tea_pokka.jpg" class="card-img-top" alt="Jacket">
                <div class="card-body">
                  <h6 class="card-title mb-1">Shirt / Vest</h6>
                  <p class="card-text text-muted">From $ 5.00</p>
                </div>
              </div>
            </div>
    
            <div class="col-sm-6 col-md-4">
              <div class="card shadow-sm">
                <img src="../static/images/green_tea_pokka.jpg" class="card-img-top" alt="Jacket">
                <div class="card-body">
                  <h6 class="card-title mb-1">Tie</h6>
                  <p class="card-text text-muted">From $ 6.00</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
  </div>

    

    <script>
        const socket = io();

        let detectedFaceSection = document.getElementById("detectedFaceSection");
        let detectedFaceTextSection = document.getElementById("detectFaceText");

        socket.on('mqtt_message', (data) => {
            detectedFaceTextSection.innerText = "Detected Faces (Detecting)";
            let timeStampLength = document.querySelectorAll('[id^="timestamp-"]').length;
            let emotionLength = document.querySelectorAll('[id^="emotion-"]').length;
            let bboxLength = document.querySelectorAll('[id^="confidence_score-"]').length;
            let faceImgLength = document.querySelectorAll('[id^="face-img"]').length;
            let i = Math.max(timeStampLength, emotionLength, bboxLength, faceImgLength);

            let detectedFaceInfo = `
                <div class="person-box d-flex align-items-center mb-3">
                    <img id="face-img${i}" src="data:image/jpeg;base64,${data.image_b64 || ''}" class="profile-img me-3" alt="Profile Image" />
                    <div class="flex-grow-1">
                        <div class="meta-info">
                            <p class="m-0">Age: Young</p>
                            <p class="m-0">Gender: Male</p>
                            <p id="emotion-${i}" class="m-0">Expression: ${data.emotion || 'Unknown'}</p>
                            <p id="confidence_score-${i}" class="m-0">confidence_score: ${data.confidence_score || 'N/A'}</p>
                        </div>
                    </div>
                    <div class="timestamp" id="timestamp-${i}">${data.timestamp || 'Now'}</div>
                </div>
            `;
            
            detectedFaceSection.insertAdjacentHTML("afterbegin", detectedFaceInfo);
            detectedFaceTextSection.innerText = "Detected Faces";
        });

        const liveStream = document.getElementById("liveStream");

        socket.on('stream_frame', (data) => {
            console.log("testing:",data);
            if (data.image_b64) {
                liveStream.src = 'data:image/jpeg;base64,' + data.image_b64;
            }
        });
    </script>

{% endblock %}